<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, :class => "control-label" %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :email, :class => "control-label"  %>
    <%= form.text_field :email, :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :company, :class => "control-label"  %>
    <%= form.text_field :company, :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :position, :class => "control-label"  %>
    <%= form.text_field :position, :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :industry, :class => "control-label"  %>
    <%= form.text_field :industry, :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :hp, :class => "control-label"  %>
    <%= form.text_field :hp, :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :business, :class => "control-label"  %>
    <%= form.text_field :business, :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :contact, :class => "control-label"  %>
    <%= form.text_field :contact, :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :detail, :class => "control-label"  %>
    <%= form.text_area :detail, :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :image, :class => "control-label"  %>
    <%= form.file_field :image, :class => "form-control-file" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary btn-block" %>
  </div>
<% end %>
