
<div class="container">

  <div class="col-md-12">
    <%= form_tag(users_path,:method => 'get', :class => 'form-inline', :style => "margin:10px 0px;") do%>
      <div class="input-group" style="width: 100%;">
        <%= text_field_tag :search, '', :class => 'form-control' %>
        <span class="input-group-btn">
            <%= submit_tag '検索', :name => nil, :class => 'btn btn-info btn-block glyphicon glyphicon-search'%>
        </span>
      </div>
    <% end %>
  </div>
  <div class="row">

    <% @users.each do |user| %>
    <div class="col-md-6">
      <%= link_to user, class: "mkt-userbox row" do %>
      <div class="col-3">
        <% if user.image? %>
        <%= image_tag user.image.url, class:"rounded-circle w-100"%>
        <% else %>
        <%= image_tag "pf_template.png", class:"rounded-circle w-100"%>
        <% end %>
      </div>
      <div class="col-9">
        <strong><%= user.name %> <span class="age">(<%= user.age %>)</span></strong><br>
        <%= user.company %> / <%= user.position %><br>
        <%= user.detail.truncate(24, omission: '...') %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
