<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-sm-12 mkt-user image text-center">
  <% if @user.image? %>
    <%= image_tag @user.image.url, class:"rounded-circle w-100"%>
  <% else %>
  <% end %>

  </div>
  <div class="col-sm-12 mkt-user general">
    <strong><%= @user.name %> <span class="age">(<%= @user.age %>)</span></strong><br>
    <%= @user.company %> / <%= @user.position %><br>
    <%= @user.industry %>業界 / <%= @user.business %>事業<br>
    <%= link_to @user.hp %><br>
    <%= @user.contact %>
  </div>
  <div class="col-sm-12 mkt-user detail">
        <%= simple_format(@user.detail) %>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
